/* Базовые цвета */
:root {
	--main-color: hsl(179, 74%, 36%);
	--description-color: hsl(357, 45%, 59%);
	--text-color: #444;
	--bg-color: #eee;
	--line-color: rgba(4, 33, 33, 0.15);
	--contrast-color: white;
	--hover-color: hsl(202, 38%, 94%);
}

/* Базовые настройки */
html {
	width: 100%;
	height: 100%;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
	display: grid;
	grid-row-gap: 30px;
	grid-template-rows: auto 1fr auto;
	align-items: start;
	height: 100vh;
	box-sizing: border-box;
	background-color: var(--bg-color, inherit);
	color: var(--text-color, inherit);
	font-weight: 300;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	margin: 10px;
}

select {
	font-size: 90%;
}

/* Стилизация шапки и подвала */
header,
footer {
	padding: 20px;
	background-color: var(--main-color, inherit);
	color: var(--contrast-color, inherit);
}

header h1 {
	font-size: 300%;
}

header p {
	margin-left: 12px;
	margin-top: -0.3em;
	letter-spacing: 0.05em;
	font-weight: 300;
}

footer {
	text-align: center;
}

footer a {
	color: var(--contrast-color, inherit);
	font-weight: 500;
}

/* Стилизация основной части страницы */
main {
	display: grid;
	grid-template-columns: minmax(50px, 1fr) 1000px minmax(50px, 1fr);
}

/* Стилизация приложения */
[mv-app="wizardConstructor"] {
	grid-column: 2;
	padding: 30px;
	display: grid;
	grid-template-columns: 300px 1fr;
	background-color: var(--contrast-color, inherit);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.basic-parameters [property="description"] {
	padding: 10px;
	margin: 10px;
	font-style: italic;
}

/* Скрываем ненужные элементы в режиме просмотра */
.hidden:not([mv-mode="edit"]) {
	display: none;
}

/* И отображаем их в режиме редактирования */
[mv-mode="edit"] .hidden {
	display: block;
}

/* Стилизация блока с параметрами использования КОИБ */
[mv-mode="edit"] .koib-mode {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

[mv-mode="edit"] .koib-mode input {
	margin-right: 0.7em;
}

[mv-mode="edit"] .koib-mode button {
	font-size: inherit;
	padding: 0.4em 1em;
}

[mv-mode="edit"] .koib-mode button::before,
.delete-button::before {
	content: "✕";
	margin-right: 0.3em;
	font-weight: bold;
	color: var(--description-color, inherit);
}

/* Указание режима работы */
.exec-mode .title,
.type .title {
	display: inline-block;
}

.exec-mode .title {
	margin-bottom: 2em;
}

/* Стилизация блока с параметрами доступности задачи */
[property="available_at"] > p[property][mv-mode="edit"] {
	border-color: transparent;
}

/* Стилизация блоков с шагами визарда */
[property="steps"] {
	margin: 10px;
}

summary {
	color: var(--main-color, inherit);
	font-weight: 500;
	font-size: 18px;
	cursor: default;
}

.step-name {
	margin: 10px;
	padding: 10px;
	font-size: 1.25em;
	font-weight: 400;
}

/* Скрываем свойства open и type — они используются в служебных целях. Пользователь не должен их менять. */
[mv-app][mv-mode="edit"] meta[property] {
	display: none;
}

/* Стилизация примечаний */
.info-wrap {
	position: relative;
	border-left: 0.3rem solid transparent;
	padding: 10px 20px;
	padding-right: 0;
	margin: 10px;
	margin-right: 0;
	border-left-color: var(--description-color, inherit);
}

.info-wrap__icon {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	left: -0.65rem;
	top: 1.3rem;
	width: 17px;
	height: 17px;
	background-color: var(--contrast-color, inherit);
}

.info-wrap__icon .svg-icon {
	vertical-align: top;
	fill: var(--description-color, inherit);
	stroke: none;
	display: inline-block !important;
}

/* Стилизация документов */
[property="documents"]:not([mv-mode="edit"]) {
	padding: 10px;
	margin: 10px;
	border-left: 3px solid var(--main-color, inherit);
	border-radius: 10px;
}

/* Стилизация списков */
.checkbox,
.radio {
	display: none;
}

.checkbox-custom,
.radio-custom {
	width: 25px;
	height: 25px;
	margin: 0 10px;
	border: 2px solid var(--main-color, inherit);
	border-radius: 3px;
	position: relative;
}

.checkbox-custom,
.radio-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}

.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	background: var(--main-color, inherit);
	border-radius: 2px;
}

.radio-custom,
.radio:checked + .radio-custom::before {
	border-radius: 50%;
}

.list-item {
	display: grid;
	grid-template-columns: 60px 1fr;
	margin: 20px 0;
}

[property="checklists"] [property="items"] [property="id"] {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	color: var(--description-color, inherit);
	font-size: 150%;
	font-weight: 600;
}

/* Стилизация границ списка сверху и снизу */
[property="checklists"]:not([mv-mode="edit"]),
.list-instruction:not([mv-mode="edit"]) {
	border-bottom: 0.1rem solid var(--line-color, inherit);
}

/* Стилизация инструкции к элементам списка */
.list-instruction {
	padding: 20px 10px 10px;
	font-weight: 500;
}

/* Стилизация инструкций к переходу на след. шаг/завершению визарда */
[property="footer_description"] {
	margin: 10px;
	padding: 10px;
}

.footer-description:not([mv-mode="edit"])::after {
	content: "Следующий шаг/Завершить";
	display: block;
	width: 200px;
	text-align: center;
	background-color: var(--main-color, inherit);
	color: var(--contrast-color, inherit);
	border: 0.1rem solid var(--main-color, inherit);
	border-radius: 0.8rem;
	padding: 7px;
	margin: 10px 5px;
	font-size: 13px;
	font-weight: 500;
}

/* Стилизация хлебных крошек */
.breadcrumbs ol {
	list-style-type: none;
	counter-reset: num;
	padding: 10px;
}

.breadcrumbs ol li {
	position: relative;
	margin: 0 0 6px 2em;
	padding: 4px 8px;
}

.breadcrumbs li::before {
	content: counter(num);
	counter-increment: num;
	position: absolute;
	top: -2px;
	left: -2em;
	width: 2em;
	height: 2em;
	line-height: 1.5em;
	border: 4px double var(--contrast-color, inherit);
	border-radius: 50%;
	background-color: var(--main-color, inherit);
	color: var(--contrast-color, inherit);
	text-align: center;
}

/* Стилизация заголовков разделов в режиме редактирования */
.wizard h3,
.wizard h4,
.wizard h5 {
	color: var(--description-color, inherit);
}

/* Стилизация заголовков блоков в режиме редактирования */
h4.title,
.title {
	margin: 10px;
	margin-top: 1.35em;
	font-style: italic;
	font-weight: 300;
	color: var(--main-color, inherit);
}

h3 + h4.title,
h3 + .title,
section > .title:first-of-type {
	margin-top: initial;
}

h3:not(:first-of-type) {
	margin-top: 1.2em;
}

/* Стилизация элементов внутри блока с описанием воркфлоу */
[mv-app][mv-mode="edit"] .workflow-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

[mv-app][mv-mode="edit"] .workflow-header button {
	font-size: 75%;
	padding: 0.4em 1em;
}

[mv-app][mv-mode="edit"] .workflow-header button::before {
	content: "🛠 ";
}

[property="flow"] h4 select {
	margin-left: 0.2em;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}

[property="conditions"] .list-number-hint {
	color: var(--description-color, inherit);
	font-weight: 500;
}

.error {
	color: #b00;
	font-weight: bold;
	font-size: smaller;
	text-transform: initial;
}

.error::before {
	content: "⚠️ ";
	filter: invert() hue-rotate(-200deg);
}

/* Стилизация редактируемых блоков */
[property]:not(select):not(input)[mv-mode="edit"] {
	border: 1px solid var(--main-color, inherit);
	min-height: 50px;
	margin: 0 10px 5px 10px;
	padding: 10px;
}

time[property][mv-mode="edit"] {
	display: inline-block;
}

/* Длинные названия видов выборов, категорий и документов должны нормально переноситься в режиме редактирования */
[property]:not([property*="koib"]) select.mv-editor {
	white-space: initial !important;
	width: 100% !important;
}

/* Убираем ненужную тень: редактируемые блоки имею рамку */
[mv-app][mv-mode="edit"] [property] .mv-editor:focus {
	box-shadow: none !important;
}

/* Стилизация раздела с иконкой + предпросмотр иконки */
[property="icon"] {
	position: relative;
}

[property="icon"] img {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
	width: 7em;
	max-height: 80%;
}

[property="icon"] img:not([src]),
[property="icon"] img[src=""] {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" fill="%23666"><circle cx="50" cy="40" r="22" /><circle cx="50" cy="110" r="50" /></svg>');
}

/* Стилизация панели инструментов */
.mv-bar.mv-ui:not(.mv-fixed) {
	grid-column: 1 / span 2;
}

/* Стилизация кнопок добавления элементов визарда */
button.mv-add {
	background-color: var(--main-color, inherit);
	color: var(--contrast-color, inherit);
	border: 0.1rem solid var(--main-color, inherit);
	border-radius: 0.8rem;
	padding: 7px;
	margin: 10px 5px;
	font-size: 13px;
	font-weight: 500;
	transition: all 0.2s ease-out;
}

button.mv-add:hover {
	background-color: var(--hover-color, inherit);
	color: var(--main-color, inherit);
}

/* Стилизация кнопок, разворачивающих/сворачивающих шаги */
.switch-buttons {
	padding: 5px;
}

.switch-buttons button {
	font-size: 13px;
	padding: 8px;
	margin: 8px;
}

/* Стилизация кнопок перемещения и дублирования шагов */
.steps-adjust-buttons {
	display: flex;
}

.move-button,
.clone-button,
.delete-button {
	font-size: 13px;
	margin: 5px;
	padding: 5px;
}

button[class*="-button"]:hover,
.switch-buttons button:hover,
.koib-mode button:hover {
	filter: invert(100%);
	cursor: pointer;
}

/* Стилизация кнопки Скачать */
.mv-bar a[download$=".json"]::before {
	content: "⬇";
}

/* Стилизация кнопки Создать */
.mv-bar .new-file::before {
	content: "📄";
}

/* Стилизация визуального редактора */
.tinymce ul {
	padding-left: 30px;
	list-style-type: none;
}

.tinymce ol {
	padding-left: 30px;
}

.tinymce ul li {
	position: relative;
}

.tinymce ul li::before {
	position: absolute;
	left: -30px;
	content: "—";
	display: inline-block;
	padding: 0 5px;
}

/* Скрываем плейсхолдеры для редактируемых свойств: они на английском языке, плюс, есть заголовки */
[property][mv-mode="edit"]:not([typeof]):not([mv-group])[mv-attribute="none"].mv-empty.mv-pending-edit:not([datatype="boolean"])::before {
	content: "" !important;
}

::placeholder {
	color: transparent;
}
