html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #eee;
    color: #444;
    font-weight: 300;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

header h1,
footer {
    margin: 0;
    padding: 20px;
    background-color: hsl(179, 74%, 36%);
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

footer {
    text-align: center;
}

footer a {
    color: white;
    font-weight: 500;
}

[mv-app] {
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    width: 810px;
    margin: 50px auto;
    padding: 30px;
}

/* Скрытые в режиме просмотра элементы */
.hidden {
    display: none;
}

/*
    Отображаются в режиме редактирования (исключаем метки, чтобы сохранить для них отображение grid)
*/
[mv-app][mv-mode="edit"] .hidden:not(.list-items) {
    display: block;
}

/* Стилизуем элементы списков в шагах */
[property="checklists"] .list-items:not(.hidden) {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    margin: 5px;
}

/* Стилизация редактируемых блоков */
p[property][mv-mode="edit"],
h2[property][mv-mode="edit"] {
    border: 1px solid hsl(179, 74%, 36%);
    border-radius: 3px;
    background-color: #eee;
    min-height: 50px;
}

/* Стилизация примечаний */
[property="steps"]>[property="description"] {
    padding: 5px 20px;
    border-left: 3px solid hsl(357, 45%, 59%);
}

.basic-parameters [property="description"] {
    font-style: italic;
}

/* Стилизация документов */
[property="documents"] {
    padding: 10px;
    border-left: 3px solid hsl(179, 74%, 36%);
    border-radius: 10px;
}

/* Стилизация инструкций к спискам */
[property="checklists"] > p[property="name"] {
    font-weight: 500;
}

/* Стилизация хлебных крошек */
.breadcrumbs {
    position: fixed;
    width: 300px;
    left: 10px;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    padding: 10px;
    z-index: 100;
}

.breadcrumbs ol {
    list-style-type: none;
    counter-reset: num;
    padding: 0;
}

.breadcrumbs ol li {
    position: relative;
    margin: 0 0 6px 1.8em;
    padding: 4px 8px;
}

.breadcrumbs li::before {
    content: counter(num);
    counter-increment: num;
    position: absolute;
    top: -1.8px;
    left: -1.8em;
    width: 1.8em;
    height: 1.8em;
    border: 4px double white;
    border-radius: 50%;
    background-color: hsl(179, 74%, 36%);
    color: white;
    text-align: center;
}
