<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta name="author" content="Dmitry Sharabin" />
		<meta name="keywords" content="Mavo" />

		<link rel="stylesheet" href="css/app.css" />
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📓</text></svg>"
		/>

		<!-- Roboto font -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
			type="text/css"
		/>

		<!-- Mavo -->
		<link rel="stylesheet" href="css/mavo.css" />
		<script src="js/mavo.min.js"></script>

		<!-- Mavo Plugins -->
		<script src="js/mavo-locale-ru.js"></script>
		<script src="js/mavo-tinymce.js"></script>

		<!-- Отдельная логика -->
		<script src="js/wizard.js"></script>

		<title>
			Интерактивный рабочий блокнот | Конструктор пошаговых инструкций, задач,
			уведомлений
		</title>
	</head>

	<body>
		<header>
			<h1>Конструктор</h1>
			<p>пошаговых инструкций, задач, уведомлений</p>
		</header>

		<main>
			<!-- Приложение-редактор для типов выборов -->
			<div hidden mv-app mv-init="data/election_types.json">
				<select id="elections">
					<option mv-multiple value="[id]" mv-group>
						[name]
					</option>
				</select>
			</div>

			<!-- Приложение-редактор для категорий, к которым относится пошаговая инструкция -->
			<div hidden mv-app mv-init="data/document_categories.json">
				<select id="categories">
					<option mv-multiple value="[id]" mv-group>
						[name]
					</option>
				</select>
			</div>

			<!-- Приложение-редактор для документов -->
			<div hidden mv-app mv-init="data/documents.json">
				<select id="documents">
					<option mv-multiple value="[id]" mv-group>
						[id] | [name]
					</option>
				</select>
			</div>

			<!-- Приложение-редактор для КОИБ -->
			<div hidden mv-app mv-init="data/koib.json">
				<select id="koib">
					<option mv-multiple value="[id]" mv-group>[name]</option>
				</select>
			</div>

			<!-- Основное приложение -->
			<div
				mv-app="wizardConstructor"
				mv-storage="local"
				mv-bar="import edit save"
			>
				<div class="mv-bar mv-ui">
					<button class="mv-button new-file">Создать</button>
					<a class="mv-button" download="[id].json">Скачать</a>
				</div>

				<aside class="breadcrumbs">
					<ol>
						<li mv-multiple mv-value="steps.short_name"></li>
					</ol>
				</aside>

				<section class="wizard">
					<section class="basic-parameters">
						<h3 class="hidden">Базовые параметры</h3>

						<h4 class="hidden title">Номер задачи</h4>
						<p class="hidden" property="id"></p>

						<h4 class="hidden title">Название</h4>
						<h2 property="name"></h2>

						<h4 class="hidden title">Описание</h4>
						<p property="description"></p>

						<label class="hidden type">
							<h4 class="title">Тип</h4>
							<select property="type">
								<option value="wizard">пошаговая инструкция</option>
								<option value="simple">задача/уведомление</option>
							</select>
						</label>

						<h4 class="hidden title">Виды выборов</h4>
						<p
							mv-multiple="election_types"
							mv-edit="#elections"
							mv-initial-items="0"
							mv-default="5"
							class="hidden"
						></p>
						<button class="mv-add-election_types">Добавить выборы</button>

						<h4 class="hidden title">Категории</h4>
						<p
							mv-multiple="document_categories"
							mv-edit="#categories"
							mv-initial-items="0"
							class="hidden"
						></p>
						<button class="mv-add-document_categories">
							Добавить категорию
						</button>

						<h4 class="hidden title">Режим использования КОИБ</h4>
						<div class="hidden koib-mode">
							<label>
								<input
									property="mode"
									mv-storage="none"
									type="radio"
									name="koib-mode"
									value="false"
								/>только без КОИБ
							</label>
							<label>
								<input type="radio" name="koib-mode" value="true" />для любого
								КОИБ
							</label>
							<label>
								<input
									type="radio"
									name="koib-mode"
									value="custom"
								/>настраиваемый
							</label>

							<button
								mv-action="set(mode, null), $.properties($$('[name=koib-mode]'), {checked: false})"
								style="[if(!mode, 'visibility: hidden')]"
							>
								Сбросить
							</button>
						</div>

						<meta
							property="only"
							content="[
								if(mode = 'false', group('use_koib': false),
									if(mode = 'true', group('use_koib': true),
										if(mode = 'custom', group('use_koib': koib))
										)
								)]"
							mv-storage="[if(only = '', 'none', 'inherit')]"
						/>

						<div mv-if="mode = custom" class="hidden">
							<h5>Виды КОИБ</h5>
							<span mv-multiple="koib" mv-edit="#koib" mv-storage="none"></span>
							<button class="mv-add-koib">Добавить КОИБ</button>
						</div>
					</section>

					<label class="hidden exec-mode">
						<h4 class="title">Режим работы</h4>
						<select property="exec_mode">
							<option value="background">с фоновым режимом</option>
							<option value="permanent">непрерывный</option>
						</select>
					</label>

					<h3 class="hidden">Параметры уведомления</h3>
					<section class="hidden" mv-multiple="run_at" mv-initial-items="0">
						<h4 class="hidden title">Время</h4>
						<time property="at" datetime="08:00" mv-default="08:00"></time>
						<label>
							<input type="checkbox" property="bell" checked />
							<span>Оповещение</span>
						</label>
					</section>
					<button class="mv-add-run_at">Добавить время</button>

					<h3 class="hidden">Периоды доступности</h3>
					<section
						class="hidden"
						mv-multiple="available_at"
						mv-initial-items="0"
					>
						<!-- TODO: Добавить удобный редактор работы с днями доступности задачи -->
						<p property="days">
							<meta property="from" content="[fromNum]D" mv-storage="inherit" />
							<meta property="to" content="[toNum]D" mv-storage="inherit" />

							Задача доступна с
							<span
								property="fromNum"
								mv-edit-type="number"
								mv-storage="none"
								mv-default="0"
							></span>
							по
							<span
								property="toNum"
								mv-edit-type="number"
								mv-storage="none"
								mv-default="0"
							></span>
						</p>
						<p class="error" mv-if="fromNum > toNum">
							День, с которого доступна задача, не может быть позднее дня, по
							который она доступна.
						</p>

						<p property="time">
							в период времени с
							<time property="from" datetime="08:00" mv-default="08:00"></time
							>до
							<time property="to" datetime="20:00" mv-default="20:00"></time>
						</p>
						<p class="error" mv-if="time.from > time.to">
							Время, с которого доступна задача, не может быть позднее времени,
							до которого она доступна.
						</p>
					</section>
					<button class="mv-add-available_at">Добавить период</button>

					<h3 class="hidden">Шаги</h3>
					<meta property="numOfSteps" content="[count(steps)]" />
					<div class="switch-buttons" hidden="[numOfSteps <= 0]">
						<button mv-action="set(open, false)">
							Свернуть все шаги
						</button>
						<button mv-action="set(open, true)">
							Развернуть все шаги
						</button>
					</div>

					<details mv-multiple="steps" mv-initial-items="0" open="[open]">
						<meta
							property="open"
							mv-default="true"
							datatype="boolean"
							mv-storage="none"
						/>
						<summary>Шаг [id]</summary>
						<div class="steps-adjust-buttons">
							<button
								class="move-button"
								hidden="[$index = 0]"
								mv-action="set(id, $index), move(steps, $index - 1), set(id, $index + 1)"
								title="Переместить вверх"
							>
								⬆︎
							</button>
							<button
								class="move-button"
								hidden="[numOfSteps - 1 = $index]"
								mv-action="set(id, $index + 2), move(steps, $index + 2)"
								title="Переместить вниз"
							>
								⬇︎
							</button>
							<button
								class="clone-button"
								mv-action="add(steps, steps, $index)"
								title="Дублировать шаг"
							>
								Дублировать
							</button>
							<button
								class="delete-button"
								mv-action="delete(steps)"
								title="Удалить шаг"
							>
								Удалить
							</button>
						</div>

						<!-- Номер шага -->
						<meta property="id" content="[$index + 1]" mv-storage="inherit" />

						<h4 class="hidden title">Содержание шага (основное действие)</h4>
						<p property="name" class="step-name"></p>

						<h4 class="hidden title">
							Краткое наименование (текст в хлебных крошках)
						</h4>
						<p class="hidden" property="short_name"></p>

						<h4 class="hidden title">Примечание к шагу</h4>
						<div class="[if(len(description) > 1, 'info-wrap')]">
							<div class="[if(len(description) > 1, 'info-wrap__icon')]">
								<svg
									version="1.1"
									viewBox="0 0 25 25"
									class="svg-icon"
									style="display: none;"
									width="17"
									height="17"
								>
									<path
										fill="#c5676cб"
										stroke="none"
										pid="0"
										d="M12.5 0C5.6 0 0 5.6 0 12.5S5.6 25 12.5 25 25 19.4 25 12.5 19.4 0 12.5 0zm1.25 18.75h-2.5v-7.5h2.5v7.5zm0-10h-2.5v-2.5h2.5v2.5z"
									></path>
								</svg>
							</div>

							<div property="description" class="tinymce"></div>
						</div>

						<h4 class="hidden title">Документы</h4>
						<p
							mv-multiple="documents"
							mv-initial-items="0"
							mv-edit="#documents"
						></p>
						<button class="mv-add-documents">Добавить документ</button>

						<h4 class="hidden">Списки действий</h4>
						<section mv-multiple="checklists" mv-initial-items="0">
							<!-- id списка -->
							<meta property="id" content="[$index + 1]" mv-storage="inherit" />

							<h4 class="hidden title">
								Текст инструкции/пояснения к пунктам списка
							</h4>
							<p property="name" class="list-instruction"></p>

							<h4 class="hidden title">Примечание к пунктам списка</h4>
							<div class="[if(len(description) > 1, 'info-wrap')]">
								<div class="[if(len(description) > 1, 'info-wrap__icon')]">
									<svg
										version="1.1"
										viewBox="0 0 25 25"
										class="svg-icon"
										style="display: none;"
										width="17"
										height="17"
									>
										<path
											fill="#c5676cб"
											stroke="none"
											pid="0"
											d="M12.5 0C5.6 0 0 5.6 0 12.5S5.6 25 12.5 25 25 19.4 25 12.5 19.4 0 12.5 0zm1.25 18.75h-2.5v-7.5h2.5v7.5zm0-10h-2.5v-2.5h2.5v2.5z"
										></path>
									</svg>
								</div>

								<div property="description" class="tinymce"></div>
							</div>

							<label class="hidden">
								<h5>Чек-лист/Ветвление</h5>
								<input type="checkbox" property="multiple" checked />
								<span>[if(multiple, 'Чек-лист', 'Ветвление')]</span>
							</label>

							<h4 class="hidden title">Документы</h4>
							<p
								mv-multiple="documents"
								mv-initial-items="0"
								mv-edit="#documents"
							></p>
							<button class="mv-add-documents">Добавить документ</button>

							<h5 class="hidden">Пункты списка</h5>
							<section mv-multiple="items">
								<!-- id пункта -->
								<span class="hidden" property="id" mv-storage="inherit">
									[checklists.$index + 1].[$index + 1]
								</span>

								<label class="list-item">
									<input
										type="[if(multiple, 'checkbox', 'radio')]"
										name="list-item"
										class="[if(multiple, 'checkbox', 'radio')]"
									/>
									<span
										class="[if(multiple, 'checkbox', 'radio')]-custom"
									></span>
									<div property="name" class="tinymce label"></div>
								</label>

								<h4 class="hidden title">Документы</h4>
								<p
									mv-multiple="documents"
									mv-initial-items="0"
									mv-edit="#documents"
								></p>
								<button class="mv-add-documents">Добавить документ</button>

								<label class="hidden">
									<input type="checkbox" property="required" checked />
									<span
										>[if(required, 'Обязательный', 'Необязательный')]
										пункт</span
									>
								</label>
							</section>
							<button class="mv-add-items">Добавить пункт</button>
						</section>
						<button class="mv-add-checklists">Добавить список</button>

						<h4 class="hidden title">
							Пояснительный текст над кнопкой перехода к следующему шагу
							(завершения задачи)
						</h4>
						<p
							property="footer_description"
							class="[if(len(footer_description) > 1, 'footer-description')]"
						></p>
					</details>
					<button class="mv-add-steps">Добавить шаг</button>

					<h3 class="hidden workflow-header">
						Описание переходов (workflow)
						<button class="workflow-generate-button" mv-if="numOfSteps > 1">
							Сгенерировать
						</button>
					</h3>
					<!-- Список шагов в инструкции -->
					<div hidden>
						<select id="steps-list">
							<option mv-multiple mv-value="steps" value="[id]" mv-group>
								[id] | [short_name]
							</option>
						</select>
					</div>

					<section class="hidden" mv-multiple="workflow" mv-initial-items="0">
						<h4 class="hidden">С шага</h4>
						<p property="from" mv-edit="#steps-list" mv-storage="none"></p>

						<!-- Полное описание одного перехода в близком к нужному формате -->
						<meta
							property="res"
							content="[list(from, whereTo)]"
							mv-storage="inherit"
						/>

						<!-- Описание одного перехода (образуют коллекцию) -->
						<div mv-multiple="flow" mv-storage="none">
							<h4 class="hidden">
								перейти на
								<select property="goto">
									<option value="step">шаг</option>
									<option value="task">задачу</option>
								</select>
							</h4>

							<!-- Если переход на шаг, нужно указать, на какой -->
							<p
								mv-if="goto = 'step'"
								property="to"
								mv-edit="#steps-list"
								mv-storage="none"
							></p>

							<!-- Если переход на задачу, нужно указать её id -->
							<p mv-if="goto = 'task'" property="task"></p>

							<!-- Конструируем описание перехода в зависимости от его типа -->
							<meta
								property="whereTo"
								content="[if(goto = 'step', group('to': to, 'conditions': conditions),
														group('task': task, 'conditions': conditions))]"
							/>

							<h4 mv-if="goto and count(conditions) > 0">
								если выбран пункт
							</h4>
							<div mv-if="goto" mv-multiple="conditions" mv-initial-items="0">
								<!-- Вычисляем номер списка по номеру его пункта — число до первой точки в номере пункта и есть номер списка -->
								<meta property="checklist" content="[to(get(items, 0), '.')]" />

								<span
									mv-multiple="items"
									mv-default="1.1"
									datatype="string"
								></span>
								<span class="list-number-hint">списка [checklist]</span>
								<button class="mv-add-items">Добавить пункт</button>

								<p
									class="error"
									mv-if="has(false, to(items, '.') = to(get(items, 0), '.'))"
								>
									Нельзя указывать пункты разных списков. Для пунктов другого
									списка добавьте отдельное условие.
								</p>
							</div>
							<button class="mv-add-conditions">
								Добавить условие
							</button>
						</div>
						<button class="mv-add-flow">Добавить вариант</button>
					</section>
					<button class="mv-add-workflow">Добавить переход</button>

					<h3 class="hidden">Уведомление</h3>
					<section class="hidden" property="notification">
						<h4 class="hidden title">Заголовок</h4>
						<p property="title"></p>

						<div>
							<h4 class="hidden title">Основное содержание</h4>
							<div property="description" class="tinymce"></div>
						</div>

						<h4 class="hidden title">
							Пояснительный текст над кнопкой закрытия уведомления
						</h4>
						<p property="footer"></p>

						<h4 class="hidden title">Текст на кнопке закрытия уведомления</h4>
						<p property="button_text"></p>

						<h4>Иконка в уведомлении</h4>
						<section property="icon">
							<h4 class="title">Название (первая часть имени файла)</h4>
							<select property="name">
								<option value="">--Выберите из списка--</option>
								<option value="alert">Предупреждение</option>
								<option value="pen">Сбор сведений</option>
								<option value="phone">Передача сведений</option>
								<option value="time">Время</option>
							</select>

							<h4 class="title">Размер (вторая часть имени файла)</h4>
							<select property="size">
								<option value="">--Выберите из списка--</option>
								<option value="small">По пояс</option>
								<option value="big">В полный рост</option>
							</select>

							<h4 class="title">Расширение (тип файла)</h4>
							<select property="ext">
								<option value="">--Выберите из списка--</option>
								<option value="svg">*.svg</option>
								<option value="png">*.png</option>
								<option value="jpg">*.jpg</option>
							</select>

							<img
								src="[if(name and size and ext, './data/assets/' & name & '_' & size & '.' & ext)]"
								alt="Образец иконки"
							/>
						</section>
					</section>
				</section>
			</div>
		</main>

		<footer>
			<p>
				Разработано с ♥︎
				<a href="https://d12n.me/" target="_blank">Дмитрием Шарабиным</a> с
				помощью <a href="https://mavo.io/" target="_blank">Mavo</a>.
			</p>
		</footer>
	</body>
</html>
